<!DOCTYPE html>
<html lang="en-us">

<head>

    <title> Categories </title>

    <%- include('../partials/head'); %>

</head>

<body>

    <header>
        <%- include('../partials/header'); %>

    </header>

    <main>

        <div class="body_text">
            <h1 class="categories title"> Categories</h1>

            <div class="get_cat_str_container">
                <% categories.forEach(function(category) {  %>

                <form action="/getmoviebycategory" method="GET" class="form getmovies">
                    <h3 class="get_cat_str_subtitle">
                        <%= category.category_name %>
                    </h3>
                    <input hidden name="category_id" value="<%=category.category_id %>">
                    <input type="submit" name="submit" class="btn get_cat_str" value="See Movies">
                </form>

                <% }); %>
            </div>

        </div>

    </main>


    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script src="js/script.js"></script>

</body>

</html>