<!DOCTYPE html>
<html lang="en-us">

<head>

    <title> Movies By Streaming </title>

    <%- include('../partials/head'); %>

</head>

<body>

    <header>
        <%- include('../partials/header'); %>

    </header>

    <main>

        <div class="body_text">
            <h1 class="streaming title"> Movies</h1>

            <div class="get_cat_str_container">

                <% moviestr.forEach(function(movies) {  %>

                <form action="/getmovie" method="GET" class="form getmovies">

                    <div class="get_movies_container">
                        <img src="<%= movies.movie_img %>" alt="Movie Picture" class="movie_img">
                        <h3 class="movies_subtitle">
                            <%= movies.movie_name %>
                        </h3>

                    </div>

                    <input hidden name="movie_id" value="<%=movies.movie_id %>">
                    <input type="submit" name="submit" class="btn get_cat_str" value="See Movies">
                </form>

                <% }); %>
            </div>

        </div>
    </main>


    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script src="js/script.js"></script>

</body>

</html>